@import "../../variables";
@import "../../mixins";
@import "../../fonts";
@import "../base-map/base-map";
@import "../nav/nav";

ajb-bible-map {
  margin: 0 auto;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .ajb-bible-map {
    &__map {
      height: 50vh;

      @media (min-width: 768px) {
        height: 70vh;
      }
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.8rem;
      color: $ajb-text;
      text-align: center;
      line-height: 1.2;
      position: relative;
      z-index: 1;

      @extend %font-family-maven-pro-semibold;
      // @extend %font-family-fell-regular
    }

    &__text-container {
      position: relative;
      height: 50vh;
      overflow-y: scroll;
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
      border-top: 2px solid $ajb-yellow;

      &::after {
        position: absolute;
        inset: 0;
        content: '';
        background-color: $ajb-aqua-marine;
        width: 100%;
        opacity: 0.5;
        display: block;
        z-index: 0;
      }

      @media (min-width: 768px) {
        height: 30vh;
      }
    }

    &__text-target {
      position: relative;
      height: min-content;
      z-index: 1;

      &.position-absolute {
        position: absolute;
        inset: 1.6rem;
      }

      > p {
        opacity: 0;
        transition: opacity 0.2s ease;
        $start: 0;
        $end: 16;

        @for $i from $start through $end {
          &.p#{$i}.p#{$i}-is-visible {
            opacity: 1;
            transition: opacity 0.2s ease;
          }
        }
      }
    }

    &__instructions {
      @extend %font-family-maven-pro-semibold;

      font-size: 2.4rem;
      display: block;
      width: 100%;
    }
  }
}
