%font-family-fell-regular {
  font-family: 'IM Fell English SC', serif;
  font-weight: 400;
}

%font-family-maven-pro-regular {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

%font-family-maven-pro-semibold {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
}
